<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<!-- 충돌 날 우려가 많은 구역이니  충돌 발생시 기존값을 지우지 않도록 주의바랍니다. ps. 충돌났는데 모르겠으면 이도형 호출 -->	
	<typeAliases>
		<!-- typeAlias 세팅은 이곳에 -->
		<typeAlias type="kr.or.iei.notice.model.vo.Notice" alias="notice"/>
		<typeAlias type="kr.or.iei.tour.model.vo.TourVO" alias="tour"/>
		<typeAlias type="kr.or.iei.tour.model.vo.ReviewVO" alias="review"/>
		<typeAlias type="kr.or.iei.reserve.model.vo.ReserveVO" alias="reserve"/>
		<typeAlias type="kr.or.iei.mytrip.model.vo.Mytrip" alias="mytrip"/>
		<typeAlias type="kr.or.iei.mytrip.model.vo.TripMember" alias="tripMember"/>
		<typeAlias type="kr.or.iei.mytrip.model.vo.TripDetail" alias="tripDetail"/>
		<typeAlias type="kr.or.iei.member.model.vo.Member" alias="member"/>
		<typeAlias type="kr.or.iei.message.model.vo.Message" alias="msg"/>
		<typeAlias type="kr.or.iei.member.model.vo.Company" alias="company"/>
		<typeAlias type="kr.or.iei.member.model.vo.CompanyMember" alias="companymember"/>
		<typeAlias type="kr.or.iei.mypage.model.vo.BoardList" alias="boardList"/>
		<typeAlias type="kr.or.iei.mypage.model.vo.Bookmark" alias="bookmark"/>
		<typeAlias type="kr.or.iei.mypage.model.vo.QNA" alias="qna"/>
		<typeAlias type="kr.or.iei.recommend.model.vo.Recommend" alias="recommend"/>
		<typeAlias type="kr.or.iei.common.model.vo.Photo" alias="photo"/>
		<typeAlias type="kr.or.iei.common.model.vo.Region" alias="region"/>
		<typeAlias type="kr.or.iei.recommend.model.vo.SelectItems" alias="items"/>
		<typeAlias type="kr.or.iei.common.model.vo.BoardComment" alias="comment"/>
		<typeAlias type="kr.or.iei.tour.model.vo.TourVO" alias="tour"/>
		<typeAlias type="kr.or.iei.tour.model.vo.ReviewVO" alias="review"/>
		<typeAlias type="kr.or.iei.together.model.vo.TogetherBoardVO" alias="together"/>
		<typeAlias type="kr.or.iei.notification.model.vo.Notification" alias="notification"/>
		<typeAlias type="kr.or.iei.common.model.vo.Liked" alias="liked"/>
		<typeAlias type="kr.or.iei.together.model.vo.TogetherCommentVO" alias="togetherComment"/>
		<typeAlias type="kr.or.iei.admin.model.vo.AdminPage" alias="admin"/>
		<typeAlias type="kr.or.iei.common.model.vo.Report" alias="report"/>
      <typeAlias type="kr.or.iei.common.model.vo.Region" alias="region"/>
      <typeAlias type="kr.or.iei.common.model.vo.mainPhotoRecommed" alias="mpr"/>
		<typeAlias type="kr.or.iei.tripboard.model.vo.TripBoardMyTripVO" alias="boardMyTrip"/>
	</typeAliases>
	
	<typeHandlers>
        <typeHandler handler="kr.or.iei.common.LongHandler" javaType="String" jdbcType="LONGVARCHAR"/>
    </typeHandlers>
</configuration>
