footer {
  height: 120px;
  width: 100%;
  background-image: url("/src/imgs/footer/footer8.png");
}
.main-footer {
  height: 80%;
  width: 100%;
  background-size: contain;
}
.header-footer {
  height: 20%;
  width: 100%;
}

.logodiv {
  text-align: center;
  float: left;
  display: inline-block;
  width: 20%;
  height: 80%;
}
.footerinfo {
  color: dimgrey;
  display: inline-block;
  width: 79.7%;
  height: 80%;
  float: left;
  text-indent: 2em;
}
.sub-footer {
  height: 20%;
  width: 100%;
  font-size: 20px;
  text-indent: 3em;
  color: dimgray;
}
