<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
    <style>
        a{
            text-decoration: none;
            float: left;
            color: black;
        }
        table{
            width: 100%;
        }
        th{
            border-bottom: 2px solid lightgray;
            line-height: 50px;
            height: 50px;
            font-size: 23px;
            padding-top: 30px;
        }
        #user{
            font-size: 40px;
        }
    </style>
<body>
<section>
    <div id="user">User</div>
    <br>
    <div>
        <div>User 님의 다음 여행</div>
        <div>계획된 여행이 없습니다. 일정을 추가해보세요.</div>
    </div>
    
    <table>
        <tr>
            <th><a href="#">&nbsp;&nbsp;내 일정</a></th>
        </tr>
        <tr>
            <th><a href="#">&nbsp;&nbsp;내가 쓴 게시글</a></th>
        </tr>
        <tr>
            <th><a href="#">&nbsp;&nbsp;내 예약</a></th>
        </tr>
        <tr>
            <th><a href="#">&nbsp;&nbsp;북마크</a></th>
        </tr>
        <tr>
            <th><a href="#">&nbsp;&nbsp;1:1 문의</a></th>
        </tr>
        <tr>
            <th><a href="#">&nbsp;&nbsp;상품 관리</a></th>
        </tr>
        <tr>
            <th><a href="#">&nbsp;&nbsp;예약 관리</a></th>
        </tr>
        <tr>
            <th><a href="#">&nbsp;&nbsp;내 정보</a></th>
        </tr>
        <tr>
            <th><a href="#">&nbsp;&nbsp;비밀번호 변경</a></th>
        </tr>
    </table>
</section>
</body>
</html>