@charset "UTF-8";
input[type=checkbox] {
	display: none;
}

input[type=checkbox] {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 15px;
	font-size: 13px;
}

input[type=checkbox]:before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background-color: #ccc;
	border-radius: 2px;
	box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px
		rgba(255, 255, 255, .8);
}

input[type=checkbox]:checked:before {
	content: "\2713";
	/* 체크모양 */
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
	font-size: 18px;
	font-weight: 800;
	color: #fff;
	background: #2f87c1;
	text-align: center;
	line-height: 18px;
}

textarea {
	resize: none;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box
}

body {
	font-family: 'Jua', sans-serif;
	background-repeat: no-repeat;
	background-size: 140% 130%;
}

.join_box {
	background-color: #FFFFFF;
	width: 460;
	height: 100%;
	margin: 7em auto;
	border-radius: 1.5em;
	box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

a {
	text-decoration: none;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

#joinForm {
	width: 460px;
	margin: 0 auto;
}

div.join_box {
	border: 1px solid #ddd;
	background-color: #fff;
}

.checkBox, .checkBox>div {
	position: relative;
}

.checkBox>div>div {
	float: left;
}

.checkBox>div>div:first-child {
	width: 85%;
	padding: 15px;
	font-weight: 600;
	color: #888;
}

.checkBox>div>div:nth-child(2) {
	position: absolute;
	top: 50%;
	right: 30px;
	margin-top: -12px;
	font-size: 20px;
	font-weight: 570;
}

.checkBox textarea {
	width: 96%;
	height: 90px;
	margin: 0 2%;
	background-color: #f7f7f7;
	color: #888;
	border: none;
}

.footBtwrap>div {
	float: left;
	width: 50%;
	height: 60px;
	margin-bottom: 30px;
}

.footBtwrap>div>button {
	display: block;
	width: 100%;
	height: 100%;
	font-size: 20px;
	text-align: center;
	line-height: 60px;
	margin-left: 50px;
}

#fpmgBt2, #fpmgBt1 {
	color: white;
	background-color: #30A9DE;
	font-family: 'Jua', sans-serif;
	border: 0.5px solid gray;
	border-radius: 15px;
	width: 150px;
}

#fpmgBt2:hover, #fpmgBt1:hover {
	background-color: white;
	color: #4a2100;
	font-family: 'Jua', sans-serif;
	border: 0.5px solid gray;
	border-radius: 15px;
	
}

}
img {
	width: 10%;
	height: 10%;
	overflow: hidden;
}

.status {
	text-align: center;
	padding: 10%;
}

#result {
	text-align: center;
}