<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
    <script src="https://kit.fontawesome.com/240c78171f.js" crossorigin="anonymous"></script>
<body>
    <section>
        <div>
            <div width="80%">
                <div>카테고리</div>
                <div>${rec.recTitle}</div>
                <div>
                    <span>${rec.recWriter}</span>
                    <span>${rec.recDate}</span>
                    <span>조회수</span><span>${rec.readCount}</span>
                    <span><i class="fas fa-heart"></i></span><span>10</span>
                </div>
            </div>
            <div width="20%">
                <span><i class="far fa-bookmark"></i></span>
                <span><i class="fas fa-ellipsis-v">수정/삭제</i></span>
            </div>
        </div>
        
        <div><img></div>
        <div>${rec.recContent}</div>
        <div>지도</div>
        <div><i class="far fa-heart"></i></div>
        <div id="review">
            <table></table>
            <div id="page"></div>
        </div>
        <div>
            <textarea>댓글달기</textarea>
            <button>등록</button>
        </div>
    </section>
</body>
</html>