<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
    <style>
        table{
            width: 100%;
            border-spacing: 0px;
            border-left: none;
            border-right: none;
            border-top: none;
        }
        td{
            border-left: none;
            border-right: none;
            text-align: center;
        }
    </style>
<body>
    <section>
        <div>
            <form>
                여행지역
                <select>
                    <option value="전체">전체</option>
                    <option value="제주">국내</option>
                    <optgroup label="국외">
                        <option value="베트남">베트남</option>
                        <option value="프랑스">프랑스</option>
                    </optgroup>
                </select>
                <select>
                    <option value="전체">전체</option>
                    <option value="제주">제주</option>
                    <option value="경주">경주</option>
                </select>
                
                카테고리
                <select>
                    <option value="전체">전체</option>
                    <option value="0">맛집</option>
                    <option value="1">카페</option>
                    <option value="2">숙소</option>
                    <option value="3">관광지</option>
                    <option value="4">액티비티</option>
                </select>
                <br>
                <input type=text> <button>검색</button>
            </form>
        </div>
        <div>
            <div>
                <span>좋아요순</span>
                <span>최신순</span>
                <span>조회순</span>
            </div>
            <table>
                <tr>
                    <th width="5%"></th>
                    <th width="50%">제목</th>
                    <th width="10%">여행지</th>
                    <th width="10%">작성자</th>
                    <th width="15%">작성일</th>
                    <th width="10%">조회수</th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </table>
        </div>
        <div id="page"></div>
        <div><button>글쓰기</button></div>
    </section>
</body>
</html>