.board {
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  min-height: calc(100vh - 10px);
  padding: 20px;
}

.board_row {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.board_row > div {
  width: 250px;
  height: 250px;
  background-color: white;
  position: relative;
  border-radius: 3px;
  box-shadow: 0 7px 14px 0 rgba(59, 65, 94, 0.1),
    0 3px 6px 0 rgba(0, 0, 0, 0.07);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  padding: 0 10px;
}

.board_row > div:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.board_row > div > img {
  width: 200px;
  height: 200px;
  background-color: black;
  position: absolute;
  top: -15px;
  left: 15px;

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.content > div {
  width: 100%;
  border-top: 1px solid #f3f3f3;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content > div span {
  font-size: 13px;
  font-weight: bold;
}

.content > div > span:first-of-type {
  margin-left: 4px;
}

.content > div > div i {
  margin-bottom: 4px;
}

.content > div > div > * {
  color: #a5bdff;
}

.content > div > span {
  color: #8f8f8f;
}

.content > i {
  position: absolute;
  right: 8px;
  top: 15px;
  font-size: 24px;
  color: #b1b1b1;
  padding: 5px;
  transition: color 0.1s ease-in-out;
}

.content > i:hover {
  color: #93b0ff;
}

.dropdown-menu {
  margin-left: 5px;
}

.dropdown-menu a {
  font-size: 14px;
}

#searchForm {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#searchForm > select {
  font-size: 13px;
  width: 100px;
  padding: 6px;
  height: 38px;
  margin-right: 5px;
}

#searchForm > input {
  width: 200px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#searchBtn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
}

#writeBtn {
  height: 38px;
  margin-left: 350px;
  cursor: pointer;
}

.form-group {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.current-page {
  background-color: #007bff;
  color: #fff;
}

.page-link {
  min-width: 36px;
  display: flex;
  justify-content: center;
}
