@import url("/src/css/tripboard/write.css");
@import url("/src/css/together/board.css");

section > div {
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
}

.form_button_wrapper {
  padding-bottom: 40px;
}

.form_button_wrapper button:last-of-type {
  margin-left: 100px;
}

.content_wrapper {
  min-height: calc(100vh - 200px);
  border-top: 1px solid #dbdbdb;
  padding: 20px;
}

.button_wrapper {
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  justify-content: flex-end;
}

.button_wrapper div {
  display: flex;
  padding: 10px 20px;
}

.button_wrapper button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}

.button_wrapper button span {
  margin-left: 7px;
}

.comment_wrapper > div {
  padding: 0 20px;
}

.route_container {
  width: 100%;
  padding: 10px;
  color: #808080;
}

.content_wrapper img {
  max-width: 1158px;
}

.reply th,
.comment_content_area.reply > td:first-of-type {
  padding-left: 60px;
}

.comment_btn {
  display: flex;
  flex-direction: column;
}

.comment_btn > div:last-of-type {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.addComment {
  width: 96px;
}

.comment_date div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.comment_writer {
  font-size: 14px;
  color: #575757;
}

.autosize {
  resize: none;
}

.add_comment_area > td:first-of-type {
  padding-left: 60px;
}

.add_comment_area > td:last-of-type > div > button:first-of-type,
.mod_comment_area > td:last-of-type > div > button:first-of-type {
  margin-bottom: 10px;
}
