@import url("/src/css/tripboard/write.css");
@import url("/src/css/together/board.css");

section > div {
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
}

.form_button_wrapper {
  padding-bottom: 40px;
}

.form_button_wrapper button:last-of-type {
  margin-left: 100px;
}

.content_wrapper {
  min-height: calc(100vh - 200px);
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  padding: 20px;
}

.comment_wrapper > div {
  padding: 0 20px;
}

.route_container {
  width: 100%;
  padding: 10px;
  color: #808080;
}

.content_wrapper img {
  max-width: 1158px;
}

.reply th,
.comment_content_area.reply > td:first-of-type {
  padding-left: 60px;
}
