.form_button_wrapper {
  margin: 30px 0 60px 0;
  display: flex;
  justify-content: center;
}

.form_button_wrapper button {
  cursor: pointer;
  width: 100px;
  height: 50px;
}

.form_button_wrapper button:first-of-type {
  margin-right: 100px;
}

.input_wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.img_upload_wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img_container {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  background-color: #dbdbdb;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.select_trip_wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}

.select_trip_wrapper > span {
  font-size: 25px;
  color: #868686;
}

.route_btn_container {
  margin-bottom: 10px;
}

#selectTripBtn {
  cursor: pointer;
}

.route_container {
  height: 100%;
}

.input_main_wrapper {
  padding: 20px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input_main_wrapper > div {
  display: flex;
  width: 100%;
  margin: 10px 0;
}

.input_main_wrapper > div > span:first-of-type {
  width: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
  color: #868686;
}

.input_region_area input,
.trip_date_area input {
  width: 200px;
}

.input_title_area input {
  width: 450px;
}

.img_container img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

.route_container {
  display: flex;
}

.route_container > span {
  margin-top: 50px;
  margin-left: 5px;
  color: rgb(255, 100, 100);
  font-size: 14px;
}
