@import url("reset.css");
@import url("inbox_nav.css");
@import url("inbox_section.css");

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  width: 100%;
  min-width: 600px;
  margin: 0 auto;
  background-color: rgb(56, 56, 56);
  padding: 7px;
}

a:hover {
  text-decoration: none;
}

