section {
  border-radius: 5px;
}

textarea {
  resize: none;
}

label {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.534);
}

.receiver_area > span {
  margin-left: 20px;
  color: rgba(255, 0, 0, 0.623);
  font-size: 14px;
  font-weight: bold;
}

.btn_area {
  display: flex;
  justify-content: center;
}

.btn_area button:first-of-type {
  margin-right: 20px;
}

.btn_area button {
  width: 100px;
}
