@charset "UTF-8";
.joincontent{
	padding-top:100px;
	padding-left:100px;
	width: 900px;
	height: 1200px;
    margin-left: 250px;
}
.joincontent>div{

	margin:0 auto;
}
.joincontent>label{
	margin-left: 200px;
}
.divBtn{
	width: 900px;
	text-align: left;
	
}
.divBtn>button{
	margin: 30px;
}
#emailBtn,#emailCodeBtn,#idchk{
	width:80px;
	height:50px;
	font-size : 12px;
	float: right;
	
}
.joincontent input{
	display: inline-block;
}

.col-lg-5{
	width : 60%;
}

@media (min-width: 992px){
.col-lg-5 {
	max-width:100%;
}
}

.col-lg-5 input{
	width : 300px;
}