@charset "UTF-8";
.joincontent{
	padding-top:50px;
	width: 900px;
	height: 1100px;
	margin: 0 auto;
}
.joincontent>div{
	margin:0 auto;
}
.joincontent>label{
	margin-left: 200px;
}
.divBtn{
	width: 900px;
	text-align: center;
}
.divBtn>button{
	margin: 30px;
}