@charset "UTF-8";
body{
	background-image:url("/src/imgs/member/travel.jpg");
 	width:100%; 
}
.main-content{
	position: relative;
	margin: 0 outo;
}
.login-div{
	position: absolute;
	width: 600px;
	height: 600px;
	overflow: hidden;
	border : 1px solid black;
	border-radius: 10px;
	background-color: white;
	opacity: 0.8;
	right: -300px;
	top:100px; 
}
#memberId{
	margin : 0 auto;
	width: 500px;
	margin-bottom: 30px;
}
#memberPw{
	margin : 0 auto;
	width: 500px;
	margin-bottom: 30px;
}
#submitBtn,#joinBtn{
	margin : 0 auto;
	width: 400px;
}
.loginheader{
	text-align: center;
	margin-bottom: 100px;
}
.sub-login-box{
	margin-top: 100px;
}
.title-container{
	position: absolute;
	top: 120px;
	left: 0px;	
}

/*로그인 애니메이션*/
 @import url('https://fonts.googleapis.com/css?family=Roboto:500,700');

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', serif;
	-webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background-color: #dedede;
}

h1 {
	position: relative;
	display: block;
	margin: 0;
	font-size: 4rem;
	line-height: 1;
	transform: translateY(6rem);
	animation: up 500ms linear forwards;
	z-index: 1;
	text-shadow: 0px 1px 1px rgba(255,255,255,1);
	
	&::before,
	&::after {
		position: absolute;
		content: '';
		width: 0px;
		height: 1px;
		left: 0;
		background-color: rgba(0,0,0,0.2);
		z-index: -1;
	}
	
	&::before {
		top: 1.4rem;
		animation: draw 500ms linear 1s forwards;
	}
	
	&::after {
		bottom: 0.4rem;
		animation: draw 500ms linear 1s forwards;
	}
	
}

.title-container {
	font-size: 0;
	position: relative;
	overflow: hidden;
	padding-bottom: 0.4rem;
}

@keyframes up {
	
	100% {
		transform: translateY(0);
	}
	
}

@keyframes draw {
	
	100% {
		width: 100%;
	}
	
}
.jhwhite{
	color:white;
}