.board{
    border-left : 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;  
    background-color: #F9F9F9;      
    min-height: 2000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notify_area{
    width: 830px;
    height: 40px;
    background-color: white;
    border: 1px solid #ebebeb;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 0 1px rgba(20,20,31,0.05), 0 1px 3px 0 rgba(20,20,31,0.15);
    position: fixed;
    display: none;
}

.notify_area span{
    margin: 5px;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.664);
}

#newCount {
    font-weight: bold;
}

.content_area {
    max-width: 90%;    
}

.content > div:first-of-type{
    background-color: white;
    border: 1px solid #ebebeb;
    box-shadow: 0 7px 14px 0 rgba(59,65,94,0.1), 0 3px 6px 0 rgba(0,0,0,0.07);
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.board_title_area{
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    min-width: 200px;
}

.board_title_area > div,
.board_writer_area > div{    
    display: flex;
    padding-left: 20px;
}

.board_title,.board_content,.board_date{
    align-items: center;
}

.board_writer > span{
    margin-top: 6px;
}

.board_title,
.board_date {
    height: 50px;
}

.board_content,
.board_writer{
    height: 65px;
}

.board_title,.board_date {
    border-bottom: 1px solid #eaf0f6;
}

.board_writer_area{
    min-width: 140px;
    max-width: 13%;
}

.board_writer_area > div{
    display: flex;
    justify-content: center;
}

.board_content > div{
    padding: 10px 0;
}